<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' href='main.css'>
</head>

<body>

    <h2 style="text-align: center;">
        Letterboxd Services
    </h2>

    <div class="content">
        <h3>Turn on new services</h3>

        <label class="switch">
            <input id="toggleBtn" type="checkbox" checked>
            <span class="slider round"></span>
        </label>

    </div>
    <div class="coffee">
        <a href="https://www.buymeacoffee.com/" target="_blank"><img
                src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
                style="margin-top: 2em;height: 40px !important;width: 144px !important;">
        </a>
    </div>
    <script src="../popup.js"></script>
</body>

</html>